venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
.idea
.vscode
.env
.git
.gitignore
generated_reports
uploads
*.zip
*.log
celerybeat-schedule*
backup.sql
Desktop_Valuation_API.postman_collection.json
API_DOCUMENTATION.md
FLOW_DOCUMENTATION.md
PROJECT_ARCHITECTURE.md
PROJECT_FLOW_DOCUMENTATION.md
PROJECT_SETUP_INSTRUCTIONS.md
README.md
txt.txt
nginx
